# SPDX-FileCopyrightText: 2026 Touchpoint Contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
# @nextcloud/dialogs@6.x declares stale peer deps (Vue 2.7 / @nextcloud/vue 8),
# but the app is verified working on Vue 3 + @nextcloud/vue 9. Override the peer
# check so `npm ci` resolves cleanly (locally and in CI).
legacy-peer-deps=true
